name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

     - name: Build the Docker image
       run: |
        git clone https://github.com/cuisongliu/sealbuild.git build
        cd build
        export GO111MODULE=on && export GOPROXY=https://goproxy.io && export GOOS=linux && export GOARCH=amd64 && go build -o ../sealbuild -v && chmod a+x ../sealbuild
        cd ../ && ./sealbuild -f config.ini
        
      - name: Create Release
        uses: JasonEtco/upload-to-release@master
        with:
          args: dashboardv1.10.0.tar.gz application/x-compressed-tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
